<nav class="navbar navbar-expand-lg navbar-dark bg-light">
  <div class="container-fluid">
    <button class="btn mx-auto navbar-brand text-danger">
      <h1>my<span>NEWS</span></h1>
    </button>
  </div>
</nav>

<div class="container my-2 row row-cols-1 row-cols-md-2 row-cols-lg-3 mx-auto justify-content-center">
  <div class="col">
    <label for="">Search Topic: </label>
    <input type="text" class="form-control my-1 w-50" placeholder="Crypto"/>
  </div>
  <div class="col">
    <label for="">Search Country: </label>
    <input type="text" class="form-control my-1 w-50" placeholder="India-IN"/>
  </div>
  <div class="col">
    <label for="">Search Date: </label>
    <input type="text" class="form-control my-1 w-50" placeholder="01-01-2020"/>
  </div>
</div>
